[Desktop Entry]
Name=PDF Lab
Comment=PDF-Dateien mergen, splitten und verschlüsseln
Exec=/home/sympa/dev/pdf_lab/starter.sh
Icon=/home/sympa/dev/pdf_lab/data/img/icon.png
Type=Application
Terminal=false
Categories=Office;
